@model IEnumerable<finaltest.Areas.Admin.Models.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/_Admin.cshtml";
}

<div id="sidebar-collapse" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
    </div>
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="http://localhost:51363/Admin/Admin/Index"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Khách hàng</li>
        </ol>
    </div><!--row-->
    <h3><span id="message"></span></h3>
    <div class="row">
        <div class="col-lg-12">
            <form action="" method="post">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="col-md-8">Quản lý khách hàng</div>
                        <div class="col-md-4 text-right">
                            <a href="http://localhost:51363/Admin/KhachHangs/Create" class="btn btn-primary" onclick="themdonhang()">Thêm khách hàng</a>
                                            @*<p>
                                @Html.ActionLink("Tạo mới", "Create")
                            </p>*@
                        </div>
                    </div>
                        <div class="panel-body">
                        <div class="table-responsive">
                            <h3><span id="message"></span></h3>
                            <table class="table table-bordered table-striped" id="example" style="width:100%">
                                <thead>
                                    <tr class="info">
                                        <th style="text-align:center">
                                            @*@Html.DisplayNameFor(model => model.Hoten)*@
                                            <label>Họ tên</label>
                                        </th>
                                        <th style="text-align:center">
                                            @*@Html.DisplayNameFor(model => model.Email)*@
                                            <label>Email</label>
                                        </th>
                                        <th style="text-align:center">
                                            @*@Html.DisplayNameFor(model => model.SDT)*@
                                            <label>Số điện thoại</label>
                                        </th>
                                        <th style="text-align:center">
                                            @*@Html.DisplayNameFor(model => model.DiaChi)*@
                                            <label>Địa chỉ</label>
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Hoten)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SDT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DiaChi)
                                            </td>
                                            @*<td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaKH }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaKH }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaKH })
                </td>*@
                                            <td><a class="btn btn-warning" href="http://localhost:51363/Admin/KhachHangs/Edit/@item.MaKH"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                            <td><a class="btn btn-info" href="http://localhost:51363/Admin/KhachHangs/Details/@item.MaKH"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                                            <td><a class="btn btn-danger" href="http://localhost:51363/Admin/KhachHangs/Delete/@item.MaKH"><i class="glyphicon glyphicon-trash"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>