@model finaltest.Areas.Admin.Models.HDX

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/_Admin.cshtml";
}

<div id="sidebar-collapse" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
    </div>
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="http://localhost:51363/Admin/Admin/Index"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Hóa đơn xuất</li>
        </ol>
    </div>
    <h3><span id="message"></span></h3>
    <div class="row">
        <div class="col-lg-12">
            <form action="" method="post">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="col-md-8">Details hóa đơn xuất</div>
                    </div>
                    <h3><span id="message"></span></h3>
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.MaHD)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MaHD)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MaKH)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MaKH)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MaSP)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MaSP)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SL)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SL)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NgayBan)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NgayBan)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Tongtien)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Tongtien)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.MaHD }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
                </form>
            </div>
        </div>
    </div>
